################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/FlightRadar/v14
/obj/Debug
/packages/Newtonsoft.Json.9.0.1
